$mapRedes: ("facebook":#2360b2, "instagram":#b801a1);

@each $red, $color in $mapRedes {
    .bg-#{$red} {
        background-color: $color !important;
    }
}

$estilos: (
    color: white,
    centro: center,
    tFuente: 15px,
);

.card {
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    font-size:map-get($estilos, tFuente);
}