@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "variables";
@import "card";

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  color: darkblue;
  font-size: 40px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  background-color: darkgrey;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: max-content auto 100px;
  min-height: 100vh;
  max-width: 100%;
}

.header {
  grid-area: header;
  background: linear-gradient(to right, #afafaf, #ebebeb 50%, #afafaf);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.main {
  grid-area: main;
  height: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.home {
  display: grid;
  grid-template-areas: "partidos destacados ranking";
  height: 100%;
  grid-template-columns: auto 40% auto;
  gap: 20px;
}

.partidos {
  grid-area: partidos;
}

.destacados {
  grid-area: destacados;
  display: flex;
  justify-content: center;
}

.img-dest {
  width: 500px;
  height: auto;
}

.destacado-noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  text-align: center;
  gap: 10px;
}

.ranking {
  grid-area: ranking;
}

.border-row {
  border-bottom: 1px solid rgba(122, 122, 122, 0.3);
}

.partido {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 80%;
}

.club {
  display: flex;
  align-items: center;
  gap: 5px;
}

.club-img {
  width: 20px;
}

.ranking-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  width: 90%;
}

.club-name {
  text-transform: capitalize;
  font-weight: 400;
  color: #222;
}

.club-points {
  font-weight: bold;
  color: #444;
}

.footer {
  grid-area: footer;
  background-color: #afafaf;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.redes {
  display: flex;
  gap: 15px;
  align-items: center;
}

.redes-img {
  width: 36px;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.nav-button {
  padding: 10px;
  color: black;
  text-transform: uppercase;
  border-radius: 15px;
  a {
    color: black;
    font-size: 18px;
  }
  &:hover {
    background-color: white;
    color: #1e40af;
    transition: all 0.5s;
    a {
      color: #1e40af;
      transition: all 0.5s;
    }
  }
}

.bg-champions .nav-button:hover {
  background-color: #404040;
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.imagenLogo {
  width: 70px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

footer {
  color: black;
  font-weight: bold;
}

.bg-champions {
  background: $champions-color;
}

.text-color-champions {
  color: white !important;
}

@media (max-width: 1200px) {
  .home {
    grid-template-areas:
      "partidos ranking"
      "destacados destacados";
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 5px;
  }

  .nav-button a {
    font-size: 15px;
  }

  .home {
    grid-template-areas:
      "partidos"
      "destacados"
      "ranking";
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
